h1 { color: #111; 
    /* font-family: 'Helvetica Neue', sans-serif;  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; }

.anc { color: #ff9900; 
    background: #fff4a3; 
    text-decoration: none; }


a:hover { color: #ffcc66 }

.pred {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    display: block;
    margin: auto;
    /* margin-left: auto; */
}

.pred:hover{
    background-color: #000000;
    /* color: rgb(198, 142, 243) */
}

.container {
    height: 200px;
    position: relative;
    /* border: 3px solid green; */
    text-align: center;
  }
  
.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

body{
    background-image: url('https://img.wallpaper.sc/desktop/images/5k/thumbnail/desktop-pc-1920x1080-thumbnail_00260.jpg') ;
}